# DATA STRUCTURES IN PYTHON

LISTS
. A list can store a sequence of objects.
. These objects can be of various types.

In [1]:
mylist = ["Hello",12,"World",11.111,"Me2"] # A list can have both strings and numbers
print(mylist)
type(mylist)

['Hello', 12, 'World', 11.111, 'Me2']

list

Lists van be indexed in the same way as strings

In [2]:
print(mylist[0])
print(mylist[1:3])
print(mylist[-1])

Hello
[12, 'World']
Me2

Lists can be concatenated like strings

In [3]:
a=[1,2,3,4]
b=['A','B','C']
c=['A',500,'C']

In [4]:
b + c

['A', 'B', 'C', 'A', 500, 'C']

In [5]:
a + b + c

[1, 2, 3, 4, 'A', 'B', 'C', 'A', 500, 'C']

In [6]:
d = a + b + c
d

[1, 2, 3, 4, 'A', 'B', 'C', 'A', 500, 'C']

In [7]:
d = a + b + c
d[-1]

'C'

In [8]:
d = a + b + c
d[-5:]

['B', 'C', 'A', 500, 'C']

More on lists

In [9]:
mylist = ['Dakar', 'Thies', 'Mbour', 2000, 3400.56, "cool"]
len(mylist) # returns the lenght of the List(How much elements are in this list)

6

# Removing items from a list

An object can be removed from a list by using del(), remove(), pop(), function

In [10]:
del(mylist[5])
print(mylist)

['Dakar', 'Thies', 'Mbour', 2000, 3400.56]

In [11]:
# If you want to delete that last 2 elements

In [12]:
del mylist[-2:]
mylist

['Dakar', 'Thies', 'Mbour']

In [13]:
# If you don't know the exact value to delete

In [14]:
newlist = ["Hello",2,3,2,'World',2]
newlist.remove(2)
print(newlist)

['Hello', 3, 2, 'World', 2]

Note :  Only the first matching entry is removed

In [15]:
l1 = [1,2,3,4]
l1.pop(2) # here the argument refers to the positional value
print(l1)

[1, 2, 4]

Cheking for an existance of an element in the list

In [16]:
4 in l1 # the 'in' statement checks whether an element is present in the list.

True

In [17]:
list1 = ['Dakar', 'Thies','Mbour']

In [18]:
'fatick' in list1

False

In [19]:
'Fatick'not in list1

True

Maw and Min

We can check the maximum and minimum value in a list by using the max() and min() function.

In [20]:
l1=[1,2,3]
print(max(l1))
print(min(l1))

3
1

Note : The max() and min() functions will do not work for strings in a list. It will only considerer the numeric data.

Insertign a nex value into a list

In [21]:
l1 = [1,2,3,4]
l1.append(5)
print(l1)

[1, 2, 3, 4, 5]

In [22]:
l1.append([6,7])
l1

[1, 2, 3, 4, 5, [6, 7]]

Appending multiple elements to a list

extend adds multiple elements to a list

In [23]:
l1 = [1,2,3]
l1.extend([4,5,6])
print(l1)

[1, 2, 3, 4, 5, 6]

Inserting a new value into a list

In [24]:
l1 = [1,2,3,4]
l1.insert(1,101) #101 will be inserted into the first position of the lsit and 
print(l1)

[1, 101, 2, 3, 4]

Sorting a list

Lists have a sort method which reorders the list based on the values it contains

In [25]:
l2=[23,1,0,45,-1]
print(sorted(l2))
print(l2)

[-1, 0, 1, 23, 45]
[23, 1, 0, 45, -1]

Python also has a function sorted() which can sort the elements of a list!

Reassigninf a list

In [26]:
l2[2]=56
print(l2)

[23, 1, 56, 45, -1]

# Tuples
 they are very similar to lists

In [27]:
azo = ('welcome', 21.223, "Hello Guys", 70.2)
type(azo)

tuple

How are lsits and tuples different?

. Elements in a tuple cannot be edited once assigned.

. A tuple cannot be appended to or extended in anyway

. A tuple is immutable

. Lists are mutanme

. You can expand lists to include more objects

. Tuples are indexed similar to lists

In [28]:
print(azo[0])
print(azo[1:4])
print(azo[-3])

welcome
(21.223, 'Hello Guys', 70.2)
21.223

# Sets
A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [29]:
s={'a','b','c','d','a','b'}
print(s)

{'b', 'a', 'c', 'd'}

# Dictionaries
. A dictonary is a type of collection which consists of key, value pairs.

. the key and values can be of any type.

. A dictionary is indexed through the keys.

In [30]:
ex_di={'JJ':25,'DD':50, 'EE':44}
print(ex_di)
print(ex_di['JJ']) # a dictionary is indexed through the assigned keys

{'JJ': 25, 'DD': 50, 'EE': 44}
25

In [31]:
dict1 = {'a':1,'b':2,'c':3}

In [32]:
dict1

{'a': 1, 'b': 2, 'c': 3}

In [33]:
dict1['b']

2

In [34]:
len(dict1)

3

In [35]:
dict1 = {'a':1,'b':2,'c':3,'a':5}
dict1

{'a': 5, 'b': 2, 'c': 3}

# SETS
 
 A set is an unordered collection data type that is iterable, mutable, and has nos duplicate elements.

In [36]:
s={'a','b','c','d','a','b'}
print(s)

{'b', 'a', 'c', 'd'}

In [37]:
s={1,1,2,2,3,4,5}

In [38]:
print(s)

{1, 2, 3, 4, 5}

# Thanks you!!!